Repository woowa-techcamp-2022/web-moneybook-03, pull requests merged in 2022-07, with the labels that each got.

#4 [BUG] 웹팩 빌드 안되는 이슈
  frontend/webpack.config.js
Labels: backend

#14 [Feature] 데이터 베이스 쿼리 (orm 흉내) 구현하기
  backend/src/app.js
  backend/src/lib/query.js
  backend/src/lib/queryTest.js
Labels: backend, :sparkles: feature

#15 [Feature] 쿼리 updateOne, create, deleteOne 구현
  backend/src/lib/query.js
  backend/src/lib/queryTest.js
Labels: backend, :sparkles: feature

#17 [FEATURE] findAll 메서드 구현
  backend/src/lib/database.js
  backend/src/lib/query.js
  backend/src/lib/queryTest.js
Labels: backend, :1st_place_medal:, :sparkles: feature

#21 [FEATURE] 라우터 클래스 구현
  frontend/public/index.html
  frontend/src/components/Link.js
  frontend/src/components/app.js
  frontend/src/index.js
  frontend/src/lib/component.js
  frontend/src/lib/router.js
  frontend/webpack.config.js
Labels: frontend, :1st_place_medal:, :sparkles: feature

#22 [Feature] header 컴포넌트 구현
  frontend/public/index.html
  frontend/src/assets/icon/calendar.svg
  frontend/src/assets/icon/chart.svg
  frontend/src/assets/icon/check.svg
  frontend/src/assets/icon/file-text.svg
  frontend/src/assets/icon/left-arrow.svg
  frontend/src/assets/icon/right-arrow.svg
  frontend/src/assets/style/colors.scss
  frontend/src/assets/style/reset.scss
  frontend/src/components/Header/index.js
  frontend/src/components/Header/index.scss
  frontend/src/components/app.js
  frontend/src/components/app.scss
  frontend/src/constants/selector-map.js
  frontend/src/store/index.js
  frontend/src/store/reducer.js
  frontend/src/utils/date.js
  frontend/webpack.config.js
Labels: frontend, :sparkles: feature

#25 [Refactor] header 컴포넌트 부분렌더링
  frontend/src/components/Header/index.js
  frontend/src/components/Header/index.scss
  frontend/src/components/Header/monthController.js
Labels: frontend, :hammer: refactor

#28 [Feature] main 페이지 간단한 마크업 및 css
  frontend/public/index.html
  frontend/src/assets/icon/line.svg
  frontend/src/assets/icon/save-button-active.svg
  frontend/src/assets/icon/save-button.svg
  frontend/src/assets/style/colors.scss
  frontend/src/components/AccountForm/index.js
  frontend/src/components/AccountForm/index.scss
  frontend/src/components/AccountHistory/index.js
  frontend/src/components/AccountHistory/index.scss
  frontend/src/components/Header/index.scss
  frontend/src/components/app.js
  frontend/src/components/app.scss
Labels: frontend

#30 [Feature] AccountHistory 컴포넌트 구현 (진행 중)
  frontend/src/components/AccountForm/index.js
  frontend/src/components/AccountHistory/index.js
  frontend/src/components/AccountHistory/index.scss
  frontend/src/components/Header/index.js
  frontend/src/components/app.js
  frontend/src/lib/router.js
  frontend/src/pages/Calendar.js
  frontend/src/pages/Main.js
  frontend/src/pages/Statistic.js
  frontend/src/store/index.js
  frontend/src/store/reducer.js
Labels: frontend

#31 [Hotifx] form 안보이는 이슈 해결 및 div 닫는 태그 추가
  frontend/src/components/AccountHistory/index.js
  frontend/src/pages/Main.js
Labels: frontend, :3rd_place_medal:

#33 [FEATURE] 헤더 동적 스타일링
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/icon/calendar.svg
  frontend/src/assets/icon/chart.svg
  frontend/src/assets/icon/file-text.svg
  frontend/src/components/Header/index.js
  frontend/src/components/Header/index.scss
  frontend/src/components/Header/monthController.js
  frontend/webpack.config.js
Labels: frontend, :2nd_place_medal:, :sparkles: feature

#35 [REFACTOR] AccountHistory 컴포넌트 분리
  frontend/src/components/AccountHistory/index.js
  frontend/src/components/AccountHistory/index.scss
  frontend/src/components/AccountHistoryTable/index.js
  frontend/src/components/AccountHistoryTable/index.scss
  frontend/src/components/app.js
  frontend/src/utils/date.js
Labels: :hammer: refactor

#38 [FEATURE] AccountForm 컴포넌트 구현 구체화
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/icon/plus.svg
  frontend/src/components/AccountForm/index.js
  frontend/src/components/AccountForm/index.scss
  frontend/src/components/AccountHistory/index.js
  frontend/src/components/app.js
  frontend/src/index.js
  frontend/src/store/reducer.js
  frontend/src/utils/date.js
Labels: frontend, :1st_place_medal:, :sparkles: feature

#40 [Feature] category component 분리 후 리스너추가
  frontend/src/components/AccountHistoryTable/index.js
  frontend/src/components/AccountHistoryTable/index.scss
  frontend/src/components/Category/index.js
  frontend/src/components/Category/index.scss
  frontend/src/components/app.js
Labels: frontend, :sparkles: feature

#41 [Hotfix] 클래스명 불일치 해결
  frontend/src/components/AccountHistory/index.js
  frontend/src/components/AccountHistoryTable/index.js
  frontend/src/components/AccountHistoryTable/index.scss
Labels: frontend, :bug: bug

#44 [Feature] account history에 시간순 정렬 로직 추가
  frontend/src/components/AccountHistory/index.js
  frontend/src/components/app.js
  package-lock.json
Labels: frontend, backend

#45 [Feature] Account History CSS 수정
  frontend/src/components/AccountHistory/index.js
  frontend/src/components/AccountHistory/index.scss
  frontend/src/components/AccountHistoryTable/index.js
  frontend/src/components/AccountHistoryTable/index.scss
  frontend/src/components/Category/index.js
  frontend/src/components/Category/index.scss
  frontend/src/components/Header/index.scss
  frontend/src/components/Header/monthController.js
  frontend/src/components/app.js
  frontend/src/components/app.scss
Labels: frontend

#47 [Feature] GET API 구현
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/controllers/account-history.js
  backend/src/controllers/category.js
  backend/src/controllers/payment-method.js
  backend/src/lib/query.js
  backend/src/services/account-history.js
  backend/src/services/category.js
  backend/src/services/payment-method.js
  frontend/src/components/AccountForm/index.js
  frontend/src/components/AccountHistory/index.js
  frontend/src/components/Category/index.js
  frontend/src/components/app.js
  frontend/src/constants/base-url.js
  frontend/src/lib/api/accountHistory.js
  frontend/src/lib/api/category.js
  frontend/src/lib/api/paymentMethod.js
  frontend/src/utils/date.js
Labels: frontend, backend, :sparkles: feature

#49 [Feature] Create , Update, Delete API 구현 (리팩토링 필요)
  backend/src/constants/model.js
  backend/src/controllers/account-history.js
  backend/src/controllers/category.js
  backend/src/controllers/payment-method.js
  backend/src/lib/model.js
  backend/src/lib/query.js
  backend/src/services/account-history.js
  backend/src/services/category.js
  backend/src/services/payment-method.js
  backend/src/utils/db.js
  frontend/src/components/AccountForm/index.js
  frontend/src/components/AccountHistory/index.js
  frontend/src/lib/api/accountHistory.js
  frontend/src/lib/api/category.js
  frontend/src/lib/api/paymentMethod.js
  frontend/src/store/index.js
Labels: frontend, backend, :sparkles: feature

#52 [FEATURE] 드랍다운 컴포넌트 구현하기
  backend/src/controllers/account-history.js
  backend/src/lib/query.js
  frontend/src/assets/icon/drop-arrow.svg
  frontend/src/assets/icon/x.svg
  frontend/src/assets/style/colors.scss
  frontend/src/components/AccountForm/index.js
  frontend/src/components/AccountForm/index.scss
  frontend/src/components/Dropdown/index.js
  frontend/src/components/Dropdown/index.scss
  frontend/src/components/app.js
Labels: frontend, :1st_place_medal:, :sparkles: feature

#56 [FEATURE] 결제수단/추가 삭제 모달 구현하기 #54
  backend/src/services/payment-method.js
  frontend/src/assets/style/colors.scss
  frontend/src/components/AccountForm/index.js
  frontend/src/components/Dropdown/index.js
  frontend/src/components/Modal/index.js
  frontend/src/components/Modal/index.scss
  frontend/src/lib/api/paymentMethod.js
  frontend/src/store/reducer.js
Labels: frontend, :1st_place_medal:, :sparkles: feature

#59 [Feature] 통계 페이지 꺾은선 그래프 구현
  backend/src/controllers/statistic.js
  backend/src/lib/query.js
  backend/src/services/statistic.js
  backend/src/utils/date.js
  frontend/src/components/BarChart/index.js
  frontend/src/components/BarChart/index.scss
  frontend/src/components/BarChartContainer/index.js
  frontend/src/components/BarChartContainer/index.scss
  frontend/src/lib/api/statistic.js
  frontend/src/pages/Statistic.js
Labels: frontend, backend, :sparkles: feature

#58 [FEATURE] AccountForm Validation 및 디자인 구체화 근데 이제, 히스토리 개수와 체크박스를 곁들인 ...
  backend/src/constants/model.js
  frontend/src/assets/style/colors.scss
  frontend/src/components/AccountForm/index.js
  frontend/src/components/AccountForm/index.scss
  frontend/src/components/AccountHistory/index.js
  frontend/src/components/AccountHistory/index.scss
  frontend/src/components/AccountHistoryHeader/index.js
  frontend/src/components/app.js
  frontend/src/components/app.scss
  frontend/src/pages/Main.js
  frontend/src/utils/date.js
  frontend/webpack.config.js
Labels: frontend, :2nd_place_medal:, :sparkles: feature

#62 [FEATURE] Header에서 월 navigate 구현하기
  frontend/public/index.html
  frontend/src/assets/icon/woowa-logo.png
  frontend/src/components/AccountHistory/index.js
  frontend/src/components/AccountHistory/index.scss
  frontend/src/components/AccountHistoryTable/index.js
  frontend/src/components/Header/index.scss
  frontend/src/components/Header/monthController.js
  frontend/src/components/Loader/index.js
  frontend/src/components/Loader/index.scss
  frontend/src/components/app.scss
  frontend/src/constants/selector-map.js
  frontend/src/store/index.js
  frontend/src/store/reducer.js
  frontend/src/utils/debounce.js
Labels: frontend, :1st_place_medal:, :sparkles: feature

#64 [Feature] 통계 페이지 날짜와, category 변경에 따른 컴포넌트 렌더링 구현
  backend/src/services/statistic.js
  frontend/src/components/AccountHistory/index.js
  frontend/src/components/BarChartContainer/index.js
  frontend/src/components/Category/index.js
  frontend/src/components/DonutChartContainer/index.js
  frontend/src/components/DonutChartContainer/index.scss
  frontend/src/components/DonutChartDetail/index.js
  frontend/src/components/DonutChartDetail/index.scss
  frontend/src/lib/router.js
  frontend/src/pages/Statistic.js
  frontend/src/utils/date.js
Labels: frontend, :sparkles: feature

#67 [FEATURE] 달력페이지 구현
  frontend/src/assets/style/colors.scss
  frontend/src/components/AccountHistoryHeader/index.js
  frontend/src/components/Calendar/index.js
  frontend/src/components/Calendar/index.scss
  frontend/src/lib/router.js
  frontend/src/pages/Calendar.js
  frontend/src/utils/calculation.js
  frontend/src/utils/date.js
Labels: frontend, :sparkles: feature

#68 [FEATURE] 도넛 차트 구현하기
  frontend/src/components/AccountHistory/index.js
  frontend/src/components/BarChartContainer/index.js
  frontend/src/components/BarChartContainer/index.scss
  frontend/src/components/DonutChart/index.js
  frontend/src/components/DonutChartContainer/index.js
  frontend/src/components/DonutChartContainer/index.scss
  frontend/src/components/DonutChartDetail/index.js
  frontend/src/components/DonutChartDetail/index.scss
  frontend/src/components/Header/monthController.js
  frontend/src/components/Loader/index.js
  frontend/src/components/app.js
  frontend/src/pages/Statistic.js
  frontend/src/utils/debounce.js
Labels: frontend, :1st_place_medal:, :sparkles: feature

#69 [FEATURE] 옵저버 리스너 해지하기
  frontend/src/components/AccountForm/index.js
  frontend/src/components/AccountHistory/index.js
  frontend/src/components/AccountHistory/index.scss
  frontend/src/components/AccountHistoryTable/index.js
  frontend/src/components/Category/index.js
  frontend/src/components/Dropdown/index.scss
  frontend/src/components/Header/monthController.js
  frontend/src/pages/Main.js
  frontend/src/pages/Statistic.js
  frontend/src/store/index.js
Labels: frontend, :2nd_place_medal:, :sparkles: feature

#72 [Bug] 집단 버그 해결
  frontend/src/components/AccountForm/index.js
  frontend/src/components/BarChart/index.js
  frontend/src/components/Calendar/index.js
  frontend/src/pages/Calendar.js
  frontend/src/pages/Statistic.js
  frontend/src/utils/date.js
Labels: :bug: bug

#74 [REFACTOR] reducer 액션이름 상수화
  frontend/src/components/AccountForm/index.js
  frontend/src/components/Header/monthController.js
  frontend/src/components/app.js
  frontend/src/store/action.js
  frontend/src/store/reducer.js
Labels: frontend, :3rd_place_medal:, :hammer: refactor

#76 [FEATURE] NotFound Page 만들기
  frontend/src/components/AccountForm/index.scss
  frontend/src/components/DonutChartContainer/index.js
  frontend/src/components/DonutChartContainer/index.scss
  frontend/src/components/Dropdown/index.scss
  frontend/src/components/app.scss
  frontend/src/lib/router.js
  frontend/src/pages/NotFound.js
Labels: frontend, :3rd_place_medal:, :sparkles: feature

#77 [Feature] 꺾은선 그래프 기능 추가 및 보완
  frontend/src/components/BarChart/index.js
  frontend/src/components/BarChart/index.scss
  frontend/src/components/BarChartContainer/index.js
  frontend/src/components/BarChartContainer/index.scss
  frontend/src/components/DonutChartContainer/index.js
  frontend/src/components/DonutChartContainer/index.scss
  frontend/src/components/DonutChartDetail/index.js
  frontend/src/pages/Statistic.js
  frontend/src/utils/category.js
  frontend/src/utils/date.js
Labels: frontend, :sparkles: feature

#78 [bug] :bug: 배포간 에러 해결
  backend/src/utils/db.js
  frontend/src/components/AccountForm/index.js
  frontend/src/components/BarChartContainer/index.js
  frontend/src/lib/api/paymentMethod.js
  frontend/src/store/index.js
Labels: frontend, :bug: bug
